---
import { type CollectionEntry } from "astro:content";
import PostPreview from "@/components/blog/PostPreview.astro";
import PageLayout from "@/layouts/Base.astro";
import { getAllPosts } from "@/data/post";
import { collectionDateSort } from "@/utils/date";

const allPosts = await getAllPosts();

// 1. Filter for posts that include the "photography" tag
const photographyPosts = allPosts.filter((post) => post.data.tags?.includes("photography"));

// 2. Sort and slice the filtered results
const MAX_POSTS = 10;
const sortedPhotographyPosts = photographyPosts.sort(
	collectionDateSort,
) as CollectionEntry<"post">[];
const latestPosts = sortedPhotographyPosts.slice(0, MAX_POSTS);

const meta = {
	description: "A collection of photographs I took on film!",
	title: "Photography",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">Photography</h1>
	<p class="mb-4">
		All of these photos were taken on film. I have arranged the photos in a specific order (from top
		to bottom). Hope you enjoy!
		<p class="mb-4">
			<section class="mt-16">
				<h2 class="title text-accent mb-6 text-xl"><a href="/posts/">Works</a></h2>
				<ul class="space-y-4" role="list">
					{
						latestPosts.map((p) => (
							<li class="grid gap-1 sm:grid-cols-[auto_1fr]">
								<PostPreview post={p} />
							</li>
						))
					}
				</ul>
			</section>.
		</p>
	</p>
</PageLayout>
