---
import { Icon } from "astro-icon/components";

/** 
	Uses https://www.astroicon.dev/getting-started/
	Find icons via guide: https://www.astroicon.dev/guides/customization/#open-source-icon-sets
	Only installed pack is: @iconify-json/mdi
*/
---

<div class="flex flex-wrap items-center gap-x-1.5">
	<span>Find me on</span>
	<a
		class="cactus-link inline-block transition-all"
		href="https://github.com/Hwang1907"
		rel="noopener noreferrer"
		target="_blank"
	>
		<Icon aria-hidden="true" class="h-6 w-6" focusable="false" name="mdi:github" />
		<span class="sr-only">GitHub</span>
	</a>
	<span>and</span>
	<a
		class="cactus-link inline-block transition-all"
		href="https://www.linkedin.com/in/andrew-u-hwang"
		rel="noopener noreferrer"
		target="_blank"
	>
		<Icon aria-hidden="true" class="h-6 w-6" focusable="false" name="mdi:linkedin" />
		<span class="sr-only">LinkedIn</span>
	</a>
</div>
