---
import { Icon } from "astro-icon/components";

/** 
	Uses https://www.astroicon.dev/getting-started/
	Find icons via guide: https://www.astroicon.dev/guides/customization/#open-source-icon-sets
	Only installed pack is: @iconify-json/mdi
*/

const socialLinks: {
	friendlyName: string;
	link: string;
	name: string;
}[] = [
	{
		friendlyName: "Github",
		link: "https://github.com/Hwang1907",
		name: "mdi:github",
	},
	{
		friendlyName: "LinkedIn",
		link: "https://www.linkedin.com/in/andrew-u-hwang",
		name: "mdi:linkedin",
	},
];
---

<div class="flex flex-wrap items-center gap-x-1.5">
	<p>Find me on</p>
	{
		socialLinks.map(({ friendlyName, link, name }, index) => (
			<div class="flex items-center gap-x-1.5">
				<a
					class="hover:text-link inline-block transition-all"
					href={link}
					rel="noopener noreferrer"
					target="_blank"
				>
					<Icon aria-hidden="true" class="h-6 w-6" focusable="false" name={name} />
					<span class="sr-only">{friendlyName}</span>
				</a>
				{/* Adds "and" only between the first and second icon */}
				{index === 0 && <span>and</span>}
			</div>
		))
	}
</div>
